.box
{
    width: 600px;
    height: fit-content;
    position: relative;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(202, 220, 243), rgb(130, 175, 222));
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 6px  rgba(0, 0, 0, 0.100);
}

.container-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
    margin: 20px;
    border: 3px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to bottom right, rgb(202, 220, 243), rgb(130, 175, 222)) border-box;
}

.btn-submit
{
    background-color: rgba(0, 0, 0, 0.90); 
    border-color: black;
    color: white;
}
.btn-submit:hover
{
    background-color: rgba(0, 0, 0, 1.00); 
    border-color: black;
    color: white;
}

.btn-outline-submit
{
    border-color: black;
    color: black;
}
.btn-outline-submit:hover
{   
    background-color: rgba(0, 0, 0, 0.60);
    border-color: black;
    color: white;
}

.btn-cart
{
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 999;
    height: 50px;
    width: 200px;
    background-color: aliceblue;
    font-size: large;
    color: black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}